.navbar {
  background-color: rgb(20, 43, 71);
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 60px;
  width: auto;
  margin: auto 10px;
}

.logout {
  width: fit-content;
  height: 35px;
  margin: auto 10px;
  background-color: rgb(168, 255, 0);
  border: none;
  border-radius: 5px;
  color: black;
}

.navbar-even {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-items {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  height: fit-content;
  width: 125px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  margin: auto 15px;
}
